<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>Essential <%= genre.name %></title>
	<meta property="og:title" content="Essential <%= genre.name %>" />
	<meta property="og:description" content="A hand picked list of the very best <%= genre.name %> albums" />
	<meta name="theme-color" content="#000">
	<link rel="stylesheet" type="text/css" href="/style.min.css">
</head>
<body>

<header>
	<section class="genre">
		<h1><a href="/music/<%= genre.slug %>"><%= genre.name %></a></h1>
		<p class="desc">
			<%= genre.desc %>
		</p>
	</section>
</header>

<main>
	<section id="vaporwave">
		<ul class="grid">
			<% albums.slice((index -1 ) * 24, (index -1 ) * 24 + 24).forEach(function(album){ %>
				<li>
					<a href="<%= album.url %>">
						<div class="img" data-src="<%= album.id %>"></div>
						<span aria-label="Album: <%= album.album %>, by <%= album.artist %>"><b><%= album.album %></b><br>
						<i><%= album.artist %></i></span>
					</a>
				</li>
			<% }); %>
		</ul>
	</section>

	<div class="page">
		<div>
			<% if (index > 1) { %>
			<a href="/music/<%= genre.slug %>/<%= index - 1 %>" aria-label="Go to page <%= index - 1 %>">← Previous</a><% } %>
		</div>
		<div>
			Page <%= index %> of <%= Math.ceil(albums.length / 24) %>
		</div>
		<div>
			<% if ((index - 1) * 24 + 24 < albums.length) { %>
			<a href="/music/<%= genre.slug %>/<%= index + 1 %>" aria-label="Go to page <%= index + 1 %>">Next →</a><% } %>
		</div>
	</div>

</main>

<footer class="genre">
	<nav id="nav">
		<h2><a href="/" aria-label="Return to main page">Essential Vaporwave</a></h2>
		<ul>
		<% genres.forEach(function(_genre){ %>
			<li><a 
				<% if(_genre === genre) { %>
				class="active"
				<% } %>
				aria-label="Browse <%= _genre.name %> Albums" 
				href="/music/<%= _genre.slug %>"><%= _genre.name %></a></li>
		<% }) %>
			<li><a aria-label="Further Reading" href="/#further-reading">Further Reading</a></li>
		</ul>
	</nav>
</footer>

<script src="/script.js"></script>
</body>
</html>