<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>Essential Vaporwave</title>
	<meta property="og:title" content="Essential Vaporwave" />
	<meta property="og:description" content="A hand picked list of the very best vaporwave albums" />
	<meta name="theme-color" content="#000">
	<link rel="stylesheet" type="text/css" href="/style.min.css">
</head>
<body>

<header>
	<section class="genre">
		<h1>Essential<br>Vaporwave</h1>
		<p class="desc">
			Vaporwave is a music genre and art movement that emerged in the early 2010’s on various Internet communities. Characterized by a nostalgic or surrealist fascination with cultural aesthetics of the late 80’s and early 90’s, entertainment technology, consumer culture and advertising, and styles of corporate and popular music such as lounge, smooth jazz and elevator music.
		</p>

		<nav id="nav">
			<ul>
				<% genres.forEach(function(genre){ %>
					<li><a href="/music/<%= genre.slug %>"><%= genre.name %></a></li>
				<% }) %>
				<li><a href="/#further-reading">Further Reading</a></li>
			</ul>
		</nav>
	</section>
</header>
<main>

	<% genres.forEach(function(genre){ %>
	<section class="genre" id="<%= genre.slug %>">
		<a href="/music/<%= genre.slug %>" aria-label="Browse <%= genre.name %> Albums">
			<div class="art" data-src="<%= genre.slug %>"></div>
		</a>
		<div class="padding">
			<h1 class="vertical"><%= genre.name %></h1>
			<span class="total"><%= albums.filter(findAlbums, genre.slug).length %> Albums</span>
			<p class="desc"><%= genre.desc %></p>
			<a class="more" href="/music/<%= genre.slug %>">Browse Albums →</a>
		</div>
	</section>
	<% }) %>

	<section class="genre" id="further-reading">
		<div class="padding">
			<h1>Further Reading</h1>
			<ul class="list">
				<li><a href="https://www.youtube.com/watch?v=PdpP0mXOlWM">History of Vaporwave Mini Documentary</a></li>
				<li><a href="https://daily.bandcamp.com/tag/vaporwave/">Vaporwave on Bandcamp Daily</a></li>
				<li><a href="https://www.reddit.com/r/Vaporwave/wiki/labels">Music Labels</a></li>
				<li><a href="https://www.reddit.com/r/Vaporwave/wiki/basics">Vaporwave wiki</a></li>
				<li><a href="https://www.reddit.com/r/Vaporwave/">Vaporwave subreddit</a></li>
				<li><a href="https://discordapp.com/invite/DmS5vhJ">Ocean Lounge (Discord chatroom)</a></li>
			</ul>
		</div>
	</section>

</main>

<script src="/script.js"></script>
</body>
</html>