<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>Essential Vaporwave</title>
	<meta name="theme-color" content="#000">
	<link rel="stylesheet" type="text/css" href="/style.min.css">
</head>
<body>

<section class="genre header">
	<h1>Essential<br>Vaporwave</h1>
	<p class="desc">
		Vaporwave is a music genre and art movement that emerged in the early 2010s on various Internet communities. Characterized by a nostalgic or surrealist fascination with cultural aesthetics of the late 80’s and early 90’s, entertainment technology, consumer culture and advertising, and styles of corporate and popular music such as lounge, smooth jazz and elevator music.
	</p>

	<nav id="nav">
		<ul>
			<li><a href="#vaporwave">Vaporwave</a></li>
			<li><a href="#future-funk">Future Funk</a></li>
			<li><a href="#hypnagogic">Hypnagogic</a></li>
			<li><a href="#vaportrap">Vaportrap</a></li>
			<li><a href="#compilation">Compilations</a></li>
			<li><a href="#ambient">Ambient</a></li>
			<li><a href="#mallsoft">Mallsoft</a></li>
			<li><a href="#experimental">Experimental</a></li>
			<li><a href="#further-reading">Further Reading</a></li>
		</ul>
	</nav>
</section>

<main>

	<section class="genre" id="vaporwave">
		<a href="/music/vaporwave">
			<div class="art" data-src="/section/vaporwave.png"></div>
		</a>
		<div class="padding">
			<h1 class="heading">Vaporwave</h1>
			<span class="total"><%= albums.filter(findTag, 'vaporwave').length %> Albums</span>
			<p class="desc"><%= genres['vaporwave'].desc %></p>
			<a class="more" href="/music/vaporwave">See More →</a>
		</div>
	</section>

	<section class="genre" id="future-funk">
		<a href="/music/future-funk">
			<div class="art" data-src="/section/future-funk.jpg"></div>
		</a>
		<div class="padding">
			<h1 class="heading">Future Funk</h1>
			<span class="total"><%= albums.filter(findTag, 'future-funk').length %> Albums</span>
			<p class="desc"><%= genres['future-funk'].desc %></p>
			<a class="more" href="/music/future-funk">See More →</a>
		</div>
	</section>

	<section class="genre" id="hypnagogic">
		<a href="/music/hypnagogic">
			<div class="art" data-src="/section/hypnagogic.jpg"></div>
		</a>
		<div class="padding">
			<h1 class="heading">Hypnagogic</h1>
			<span class="total"><%= albums.filter(findTag, 'hypnagogic').length %> Albums</span>
			<p class="desc"><%= genres['hypnagogic'].desc %></p>
			<a class="more" href="/music/hypnagogic">See More →</a>
		</div>
	</section>

	<section class="genre" id="vaportrap">
		<a href="/music/vaportrap">
			<div class="art" data-src="/section/vaportrap.jpg"></div>
		</a>
		<div class="padding">
			<h1 class="heading">Vaportrap</h1>
			<span class="total"><%= albums.filter(findTag, 'vaportrap').length %> Albums</span>
			<p class="desc"><%= genres['vaportrap'].desc %></p>
			<a class="more" href="/music/vaportrap">See More →</a>
		</div>
	</section>

	<section class="genre" id="compilation">
		<a href="/music/compilation">
			<div class="art" data-src="/section/compilation.png"></div>
		</a>
		<div class="padding">
			<h1 class="heading">Compilations</h1>
			<span class="total"><%= albums.filter(findTag, 'compilation').length %> Albums</span>
			<p class="desc"><%= genres['compilation'].desc %></p>
			<a class="more" href="/music/compilation">See More →</a>
		</div>
	</section>

	<section class="genre" id="ambient">
		<a href="/music/ambient">
			<div class="art" data-src="/section/ambient.jpg"></div>
		</a>
		<div class="padding">
			<h1 class="heading">Ambient</h1>
			<span class="total"><%= albums.filter(findTag, 'ambient').length %> Albums</span>
			<p class="desc"><%= genres['ambient'].desc %></p>
			<a class="more" href="/music/ambient">See More →</a>
		</div>
	</section>

	<section class="genre" id="mallsoft">
		<a href="/music/mallsoft">
			<div class="art" data-src="/section/mallsoft.jpg"></div>
		</a>
		<div class="padding">
			<h1 class="heading">Mallsoft</h1>
			<span class="total"><%= albums.filter(findTag, 'mallsoft').length %> Albums</span>
			<p class="desc"><%= genres['mallsoft'].desc %></p>
			<a class="more" href="/music/mallsoft">See More →</a>
		</div>
	</section>

	<section class="genre" id="experimental">
		<a href="/music/vaportrap">
			<div class="art" data-src="/section/experimental.jpg"></div>
		</a>
		<div class="padding">
			<h1 class="heading">Experimental</h1>
			<span class="total"><%= albums.filter(findTag, 'experimental').length %> Albums</span>
			<p class="desc"><%= genres['experimental'].desc %></p>
			<a class="more" href="/music/experimental">See More →</a>
		</div>
	</section>

	

	<section class="genre" id="further-reading">
		<div class="padding">
			<h1>Further Reading</h1>
			<ul class="list">
				<li><a href="https://www.youtube.com/watch?v=PdpP0mXOlWM">History of Vaporwave Mini Documentary</a></li>
				<li><a href="https://daily.bandcamp.com/tag/vaporwave/">Vaporwave on Bandcamp Daily</a></li>
				<li><a href="https://www.reddit.com/r/Vaporwave/wiki/labels">Music Labels</a></li>
				<li><a href="https://www.reddit.com/r/Vaporwave/wiki/basics">Vaporwave wiki</a></li>
				<li><a href="https://www.reddit.com/r/Vaporwave/">Vaporwave subreddit</a></li>
				<li><a href="https://discordapp.com/invite/DmS5vhJ">Ocean Lounge (Discord chatroom)</a></li>
			</ul>
		</div>
	</section>

</main>

<script src="/script.js"></script>
</body>
</html>